
.video-container {
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    display: flex;
    font-size: 20px;
}

.trailers {
    margin-top: 50px;
}

.trailerContainer {
    margin-top: 10px;
    width: auto;
    max-width: 400px;
    margin-left: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(15, 15, 11);
    display: flex;
}

.trailer {
    color: rgb(207, 205, 205);
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    margin-left: 10px;
}



.fa-play-circle-o {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

    .fa-play-circle-o:hover {
        color: gold;
    }

.trailer .header {
    color: rgba(207, 205, 205, 0.597);
}

.picture {
    width: 100px;
    height: 147px;
}

.allTrailers {
    display: block;
}

.left {
    position: absolute;
    text-decoration: none;
    color: white;
    padding: 15px;
    background-color: rgba(133, 133, 133, 0.433);
    border: 2px solid white;
    border-radius: 6px;
}

.right {
    position: absolute;
    text-decoration: none;
    color: white;
    padding: 15px;
    background-color: rgba(133, 133, 133, 0.433);
    margin-left: 847px;
    border: 2px solid white;
    border-radius: 6px;
}

.left:hover {
    color: gold;
    background-color: rgb(133, 133, 133);
    border: 2px solid gold;
}

.right:hover {
    color: gold;
    background-color: rgb(133, 133, 133);
    border: 2px solid gold;
}

.favs {
    display: flex;
}

.descr {
    padding-top: 25px;
    margin-left: 10px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bigPhoto {
    height: 400px;
    margin-left: 50px;
    margin-right: 20px;
}

.line {
    width: 5px;
    height: 40px;
    background-color: gold;
    margin-top: 30px;
    margin-left: 70px;
    border-radius: 2px;
}

.favs {
    color: white;
    display: flex;
}

.photo {
    height: 294px;
    width: 200px;
}

.movie {
    margin-left: 70px;
    margin-top: 50px;
    color: aliceblue;
    background-color: rgb(15, 15, 11);
    width: 200px;
    padding-bottom: 25px;
}

.rating {
    color: gold;
    margin-left: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checked {
    margin-left: 50px;
    color: rgb(169, 162, 162);
    padding: 5px;
}

    .checked:hover {
        color: gold;
        padding:5px;
        background-color: grey;
        border-radius: 5px;
    }

.movieTitle a {
    margin-left: 10px;
    text-decoration: none;
    color: aliceblue;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

    .movieTitle a:hover {
        color: gold;
    }

.container {
    position: relative;
    font-size: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    .container .add {
        position: absolute;
        color: white;
        text-decoration: none;
        padding: 10px;
        background-color: rgba(133, 133, 133, 0.433);
    }

        .container .add:hover {
            color: gold;
            background-color: rgb(133, 133, 133);
        }

.photos {
    display: flex;
    flex-wrap: wrap;
}

.trailers {
    display: flex;
}
