@page
@model MoviesAndSeriesApplicationWeb.Pages.Shared.AllModel
@{
    ViewData["Title"] = "All";
}

@using System.Security.Claims;

<link rel="stylesheet" href="~/css/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<div class="photos">
    <form method="post">
        @for (int i = 0; i < @Model.AllCP.Count; i++)
        {

            <div class="movie">
                <div class="container">
                    @if (Model.WatchlistContains(Model.AllCP[i], User.FindFirst("username").Value))
                    {
                        <button class="add" type="submit" href="#add">&#x2713;</button>
                    }
                    else
                    {
                        <button class="add" type="submit" href="#add">+</button>
                    }
                    <img class="photo" src="@Model.GetImage(Model.AllCP[i].Id)">
                </div>

                <div class="movieDescr">
                    <div class="fa fa-star rating"></div>
                    <t>Rating</t>
                    <div class="fa fa-star checked"></div>
                </div>
                <div class="movieTitle">

                    @{
                        <a href="/MovieInfo?id=@Model.AllCP[i].Id">@Model.AllCP[i].Name</a>


                    }

                </div>
            </div>
        }
    </form>


</div>

