@page
@model MoviesAndSeriesApplicationWeb.Pages.RegistrationModel
@{
     ViewData["Title"] = "Register";
     Layout = "_MyLayout";
}


<link rel="stylesheet" href="~/css/registration.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="form">
        <p>Register</p>
        
        <form method="post" class="form2">
            <p class="info">Username</p>
            <p><input type="text" asp-for="username" class="userInfo" value="" /></p>

            <p class="info">Name</p>
            <p><input type="text" asp-for="name" class="userInfo" value="" /></p>

            <p class="info">Email</p>
            <p><input type="text" asp-for="email" class="userInfo"  value="" /></p>

            <p class="info">Phone number</p>
            <p><input type="text" asp-for="number" class="userInfo" value="" /></p>

            <p class="info">Password</p>
            <p><input type="text" asp-for="password" class="userInfo"  value="" /></p>

            <p class="info">Confirm Password</p>
            <p><input type="text" asp-for="confirmPassword" class="userInfo" value="" /></p>

            <hr>

            <button class = "btnRegister" type="submit">Register</button>
        </form>
    </div>

</body>
