@page
@model MoviesAndSeriesApplicationWeb.Pages.RegistrationModel
@{
     ViewData["Title"] = "Register";
     Layout = "_MyLayout";
}


<link rel="stylesheet" href="~/css/registration.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="form">
        <p>Register</p>
        
        <form method="post" class="form2">
            
            <p class="info">Username</p>
            <input type="text" asp-for="UserToCreate.Username" class="userInfo" />
            <span class="validation-message text-danger" asp-validation-for="UserToCreate.Username"></span>

            <p class="info">Name</p>
            <input type="text" asp-for="UserToCreate.Name" class="userInfo" />
            <span class="validation-message text-danger" asp-validation-for="UserToCreate.Name"></span>

            <p class="info">Email</p>
            <input type="text" asp-for="UserToCreate.Email" class="userInfo"   />
            <span class="validation-message text-danger" asp-validation-for="UserToCreate.Email"></span>

            <p class="info">Phone number</p>
            <input type="text" asp-for="UserToCreate.PhoneNumber" class="userInfo" />
            <span class="validation-message text-danger" asp-validation-for="UserToCreate.PhoneNumber"></span>

            <p class="info">Password</p>
            <input type="password" asp-for="UserToCreate.Password" class="userInfo"/>
            <span class="validation-message text-danger" asp-validation-for="UserToCreate.Password"></span>

            <p class="info">Confirm Password</p>
            <input type="password" asp-for="UserToCreate.ConfirmPass" class="userInfo" />
            <span class="validation-message text-danger" asp-validation-for="UserToCreate.ConfirmPass"></span>

            <hr>

            <button class = "btnRegister" type="submit">Register</button>
           
        </form>
    </div>

</body>
