@page
@model PrivacyModel
@{
    ViewData["Title"] = "Watchlist";;
}
<link rel="stylesheet" href="~/css/watchlist.css">

<div class="form">
    <p class="title">Your watchlist</p>
    <hr>
    <div class="titleSort">
        <p class="title">Count titles</p>
        <p>Sort by:</p>
        <select class="sort">
            <option>All</option>
            <option>Alphabetical</option>
            <option>Rating</option>
            <option>Your rating</option>
            <option>Popularity</option>
            <option>Release date</option>
        </select>
    </div>
    <hr>

    @for (int i = 0; i < @Model.Watchlist.Productions.Count; i++)
    {
        <div class="movie">
        <div class="container">
            <a class="add" href="#add">&#10004;</a>
            <img class="image" src="@Model.GetImage(Model.Watchlist.Productions[i].Id)">
        </div>

        <div class="info">
            <a href="MovieInfo?id=@Model.Watchlist.Productions[i].Id">@Model.Watchlist.Productions[i].Name</a>
            <p>Descr</p>
        </div>
    </div>
    }
    


</div>