* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-weight: 300;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}


.form {
    width: 500px;
    height: 600px;
    background-color: rgba(128, 128, 128, 0.13);
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    text-align: center;
}

.username {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 20px;
}

.user {
    margin-top: 80px;
    font-size: 17px;
    margin-left: -150px;
}

.username:focus {
    box-shadow: 0 0 10px gold;
}

.password {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 20px;
}

.pass {
    font-size: 17px;
    margin-top: 40px;
    margin-left: -150px;
}

.password:focus {
    box-shadow: 0 0 10px gold;
}

.btnLogIn {
    color: black;
    font-size: 20px;
    background-color: rgb(223, 209, 130);
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    margin-top: 50px;
}

.btnLogIn {
    color: black;
    font-size: 20px;
    background-color: rgb(223, 209, 130);
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    margin-top: 50px;
}


hr {
    color: rgb(116, 112, 112);
    margin: auto;
    margin-top: 50px;
    width: 70%;
}

.btnRegister {
    color: black;
    font-size: 20px;
    background-color: rgb(179, 173, 173);
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    margin-top: 50px;
}
